body{
    margin: 0.5em;
    font-family: "Poppins", serif;
}
hr{
    border: 0.1em solid #95b2cf;
    margin-top: -1.5em;
}

article{
    margin: 2em;
    margin-top: -1em;
}
button{
    height: 3em;
}

section{
    margin-top: -1.5em;
}

.education-table{
    width: 100%;
    font-family: "Poppins", serif;
    color: #747370;
}
.certifications-table{
    width: 100%;
    font-family: "Poppins", serif;
}
.cerificate{
    padding-bottom: 1em;
}

.education-table td{
    padding-top: 1em;
}

.studies{
    margin-top: -1em;
}
.date{
    text-align: right;
    vertical-align: top;
    color: #95b2cf;
    font-weight: 500; 
}
.project-heading{
    color: #95b2cf;
    font-size: 1em;
    margin-bottom: -0.7em;
}
.project ul{
    margin-top: -0.5em;
}

.section-heading{
    font-family: "Alatsi", serif;
    font-size: 2em;
    letter-spacing: 0.2em;
    color: #95b2cf;
}
.section-feedback{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contacts-container {
    font-family: "Poppins", serif;
    font-size: 1em;
    background-color: #eef1f4; 
    display: flex; 
    justify-content: space-evenly;
    padding: 0.2em;
    border-radius: 3em;
    margin-bottom: 1.5em;
}

.contact-item{
    display: flex;
}

.contact-item img{
    height:2em;
    padding: 0.5em;
}

.header-container{
    font-family: "Hanken Grotesk", serif;
    font-size: 3em;
    text-align: center;
    padding: 0.2em;
    color: #95b2cf;
}

.header-container img{
    height: 1.2em;
    margin-bottom: -0.2em;
}

.text{
    font-family: "Poppins", serif;
    font-size: 1em;
}
.diamond{
    height: 1em;
    margin-bottom: -0.2em;
}