body{
    margin: 0.5em;
    font-family: "Poppins", serif;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode{
    background-color: #121212; 
    color: white;    
}

hr{
    border: 0.1em solid #95b2cf;
    margin-top: -1.5em;
}

article{
    margin: 2em;
    margin-top: -1em;
}
button{
    height: 3em;
}

section{
    margin-top: -1.5em;
}

.education-table{
    width: 100%;
    font-family: "Poppins", serif;
    color: #747370;
}
.certifications-table{
    width: 100%;
    font-family: "Poppins", serif;
}
.cerificate{
    padding-bottom: 1em;
}

.education-table td{
    padding-top: 1em;
}

.studies{
    margin-top: -1em;
}
.date{
    text-align: right;
    vertical-align: top;
    color: #95b2cf;
    font-weight: 500; 
}
.project-heading{
    color: #95b2cf;
    font-size: 1em;
    margin-bottom: -0.7em;
}
.project ul{
    margin-top: -0.5em;
}

.section-heading{
    font-family: "Alatsi", serif;
    font-size: 2em;
    letter-spacing: 0.2em;
    color: #95b2cf;
}
.section-feedback{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contacts-container {
    font-family: "Poppins", serif;
    font-size: 1em;
    background-color: #eef1f4; 
    display: flex; 
    justify-content: space-evenly;
    padding: 0.2em;
    border-radius: 3em;
    margin-bottom: 1.5em;
}

.contact-item{
    display: flex;
}

.contact-item img{
    height:2em;
    padding: 0.5em;
}

.header-container{
    font-family: "Hanken Grotesk", serif;
    font-size: 3em;
    text-align: center;
    padding: 0.2em;
    color: #95b2cf;
}

.header-container img{
    height: 1.2em;
    margin-bottom: -0.2em;
}

.text{
    font-family: "Poppins", serif;
    font-size: 1em;
}
.diamond{
    height: 1em;
    margin-bottom: -0.2em;
}

.last{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.spacing{
    width: 45%;
}

.language{
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
}

.darkmodetog{
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
    vertical-align: middle;
}

.darkmodetog div{
    padding-right: 0.5em;
    margin-top: 0.2em;
}

.switch {
    position: relative;
    display: inline-block;
    
    width: 60px;
    height: 34px;
    
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #95b2cf;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #95b2cf;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}